@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
fa-icon {
  font-size: 40px;
  color: white;
}
a {
  cursor: pointer;
  color: white;
}
a:hover {
  transition: ease 500ms;
}
#logo {
  font-family: "Shizuru", cursive;
  font-weight: bold;
}
nav {
  width: 100%;
}
.dropdown-item {
  color: black;
}
.sticky {
  background-color: #3fbdde;
  transition: ease-in 250ms;
}
