@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
fa-icon {
  font-size: 40px;
  color: white;
}
a {
  cursor: pointer;
  color: white;
}
#logo {
  font-family: "Shizuru", cursive;
  font-weight: bold;
}
nav {
  width: 100vw;
}
.dropdown-item {
  color: black;
}
