<div class="container mt-4">
  <form [formGroup]="coinForm" (submit)="onSubmit()">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <select class="form-select" [formControlName]="'coin'">
            <option [value]="null" disabled>Select Coin</option>
            <option *ngFor="let market of markets" [ngValue]="market">
              {{ market.symbol | uppercase }}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <span class="input-group-text" aria-readonly="true">{{
            coinForm.get("coin").value
              ? coinForm.get("coin").value.current_price + "$"
              : "Coin Price"
          }}</span>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <!-- <span class="input-group-text">Amount</span> -->
            <input
              class="form-control"
              type="number"
              id="amount"
              [formControlName]="'amount'"
              placeholder="Amount"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <!-- <span class="input-group-text">Bought</span> -->
            <input
              class="form-control"
              type="number"
              id="bought"
              [formControlName]="'bought'"
              placeholder="Bought Price"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <!-- <span class="input-group-text">Bought</span> -->
            <input
              class="form-control"
              type="datetime-local"
              id="bought-date"
              [formControlName]="'boughtDate'"
              placeholder="Bought Date"
            />
          </div>
        </div>
        <div class="col-sm-1">
          <button class="btn" type="submit">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
  <app-confirm
    [message]="askMessage"
    [willDelete]="willDelete"
    *ngIf="askMessage"
    (newItemEvent)="receiveMessage($event)"
  ></app-confirm>
  <div class="message mt-2" *ngIf="successAdd">
    <span class="help-block bg-success">Successfully Added!</span>
  </div>
  <div class="message mt-2" *ngIf="deleted">
    <span class="help-block bg-success">{{ deleted }}</span>
  </div>
  <div
    class="message mt-2"
    *ngIf="
      invalidAmount ||
      (coinForm.get('amount').invalid && coinForm.get('amount').touched)
    "
  >
    <span class="help-block bg-danger">Invalid amount value!</span>
  </div>
  <div
    class="message mt-2"
    *ngIf="
      invalidBought ||
      (coinForm.get('bought').invalid && coinForm.get('bought').touched)
    "
  >
    <span class="help-block bg-danger">Invalid bought price!</span>
  </div>
  <div
    class="message mt-2"
    *ngIf="
      invalidSelect ||
      (coinForm.get('coin').invalid && coinForm.get('coin').touched)
    "
  >
    <span class="help-block bg-danger">Select a coin!</span>
  </div>
  <!-- <div class="mt-2" *ngIf="invalid">
    <span class="help-block bg-danger">{{ invalid }}</span>
  </div> -->
</div>
<br />
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th scope="col">
            <!-- <fa-icon
            (click)="sortBy('name')"
            *ngIf="!sortCounter || sortCounter === 'ab'"
            [icon]="faSortAlphaDown"
          ></fa-icon
          ><fa-icon
            (click)="sortBy('name')"
            *ngIf="sortCounter === 'ba'"
            [icon]="faSortAlphaDownAlt"
          ></fa-icon> -->
            &nbsp; Name
          </th>
          <th>Market Price</th>
          <th scope="col">Bought Price(USD)</th>
          <th scope="col">Amount</th>
          <th scope="col">Balance</th>
          <th>Profit/Loss($)</th>
          <th>Profit/Loss(%)</th>
          <th scope="col">Bougth Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let userData of usersData | search: incomingFilterWord;
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>
            {{ userData.coinName }}
          </td>
          <td>{{ userData.coinId | currentPrice | async }} $</td>
          <td>{{ userData.bought }}</td>
          <td>{{ userData.amount }}</td>
          <td>
            {{
              (
                userData.amount * (userData.coinId | currentPrice | async)
              ).toFixed(2)
            }}
            $
          </td>
          <td
            [ngClass]="{
              green:
                (
                  userData.amount * (userData.coinId | currentPrice | async) -
                  userData.bought * userData.amount
                ).toFixed(2) > 0,
              red:
                (
                  userData.amount * (userData.coinId | currentPrice | async) -
                  userData.bought * userData.amount
                ).toFixed(2) <= 0
            }"
          >
            {{
              (
                userData.amount * (userData.coinId | currentPrice | async) -
                userData.bought * userData.amount
              ).toFixed(2)
            }}$
          </td>
          <td
            [ngClass]="{
              green:
                (
                  (((userData.coinId | currentPrice | async) * userData.amount -
                    userData.bought * userData.amount) *
                    100) /
                  (userData.bought * userData.amount)
                ).toFixed(2) > 0,
              red:
                (
                  (((userData.coinId | currentPrice | async) * userData.amount -
                    userData.bought * userData.amount) *
                    100) /
                  (userData.bought * userData.amount)
                ).toFixed(2) <= 0
            }"
          >
            {{
              (
                (((userData.coinId | currentPrice | async) * userData.amount -
                  userData.bought * userData.amount) *
                  100) /
                (userData.bought * userData.amount)
              ).toFixed(2)
            }}%
          </td>
          <td>
            {{
              userData.boughtDate
                ? userData.boughtDate.substring(0, 10) +
                  " - " +
                  userData.boughtDate.substring(10 + 1)
                : "-"
            }}
          </td>
          <td>
            <fa-icon
              (click)="onDelete(userData.id)"
              class="delete"
              [icon]="faTrashAlt"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <app-loading-spinner style="width: 10px"></app-loading-spinner>
    </div>
  </div>

  <div
    *ngIf="usersData.length >= 1 && !incomingFilterWord"
    class="input-group d-flex justify-content-center"
  >
    <a *ngIf="currentPage != 0" (click)="pageDown()"
      >{{ currentPage }}&nbsp; &nbsp;<fa-icon [icon]="faChevronLeft"></fa-icon
    ></a>

    &nbsp; &nbsp;
    <span>{{ currentPage + 1 }} of {{ totalPageCeil }}</span> &nbsp; &nbsp;
    <a *ngIf="currentPage < totalPage - 1" (click)="pageUp()"
      ><fa-icon [icon]="faChevronRight"></fa-icon>&nbsp; &nbsp;{{
        currentPage + 2
      }}</a
    >
  </div>
</div>
