fa-icon.delete {
  color: red;
  cursor: pointer;
}
fa-icon {
  color: blue;
}
.green {
  color: green;
}
.red {
  color: red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
th {
  min-width: 100px;
}
.message span {
  color: white;
}
a {
  cursor: pointer;
}
