fa-icon.delete {
  color: red;
  cursor: pointer;
}
fa-icon {
  color: blue;
  cursor: pointer;
}
.green {
  color: green;
}
.red {
  color: red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.message span {
  color: white;
}
a {
  cursor: pointer;
}
.th-no {
  min-width: 0px;
}
.th-pfloss {
  min-width: 115px;
}
th {
  min-width: 100px;
}
.th-double {
  min-width: 105px;
}
#inventory-table {
  font-size: 12px;
}
.height {
  height: 470px;
}
