@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
img {
  max-width: 300px;
}
.container {
  height: 100vh;
}
small {
  font-size: x-small;
}
span {
  color: white;
}
a {
  cursor: pointer;
}
#logo {
  font-size: 150px;
}
#logotext {
  font-family: "Shizuru", cursive;
  font-weight: bold;
  font-size: xx-large;
}
