.form-group {
  margin-top: 10px;
}
img {
  width: 100px;
  height: 100px;
}
#profile-picture {
  border: none;
  border-radius: 50%;
  opacity: 0;
}
#profile-picture:hover {
  opacity: 1;
}
a {
  cursor: pointer;
  position: absolute;
  transform: translate(165%, 270%);
  background-color: lightgray;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
}
