.table {
  height: auto;
}
/* .container {
  height: 100vh;
} */
.green {
  color: green;
}
.red {
  color: red;
}
a {
  cursor: pointer;
  color: #007bff;
}
fa-icon {
  color: #007bff;
  cursor: pointer;
}
th {
  min-width: 175px;
}
#market-table {
  font-size: 12px;
}
.height {
  height: 720px;
}
