<div class="container">
  <button (click)="sortBy('name')" class="btn btn-sm btn-primary">sort</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <fa-icon
            (click)="sortBy('name')"
            *ngIf="!sortCounter || sortCounter === 'ab'"
            [icon]="faSortAlphaDown"
          ></fa-icon
          ><fa-icon
            (click)="sortBy('name')"
            *ngIf="sortCounter === 'ba'"
            [icon]="faSortAlphaDownAlt"
          ></fa-icon>
          &nbsp; Name
        </th>
        <th scope="col">Price</th>
        <th scope="col">Exchange(24h)</th>
        <th scope="col">Volume(24h)</th>
        <th scope="col">Market Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let market of markets | search: incomingFilterWord">
        <th scope="row">
          <img style="width: 25px" [src]="market.image" alt="" /> &nbsp; ({{
            market.symbol | uppercase
          }}) {{ market.name }}
        </th>
        <td>$ {{ market.current_price }}</td>
        <td
          [ngClass]="{
            green: market.price_change_percentage_24h > 0,
            red: market.price_change_percentage_24h < 0
          }"
        >
          {{ market.price_change_percentage_24h.toFixed(2) }} %
        </td>
        <td>$ {{ (market.total_volume / 1000000000).toFixed(1) }} B</td>
        <td>
          {{ (market.circulating_supply / 1000000).toFixed(1) }}M
          {{ market.symbol | uppercase }}
        </td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="!this.incomingFilterWord"
    class="input-group d-flex justify-content-center"
  >
    <a *ngIf="currentPage != 0" (click)="pageDown()"
      >{{ currentPage }}&nbsp; &nbsp;<fa-icon [icon]="faChevronLeft"></fa-icon
    ></a>

    &nbsp; &nbsp;
    <span>{{ currentPage + 1 }} of {{ totalPageCeil }}</span> &nbsp; &nbsp;
    <a *ngIf="currentPage < totalPage - 1" (click)="pageUp()"
      ><fa-icon [icon]="faChevronRight"></fa-icon>&nbsp; &nbsp;{{
        currentPage + 2
      }}</a
    >
  </div>
</div>
